{% extends "cartera/menuGlosasF.html" %}
{% load static %}

{% block head %}


<link rel="stylesheet" type="text/css" href={% static 'css/panelGlosas.css' %}>
<link rel="stylesheet" type="text/css" href={% static 'css/fontawesome.css' %}>
<link rel="stylesheet" type="text/css"  href = {% static 'css/litle.css' %} >
<script src={% static 'js/panelTabsGlosas.js' %} defer >         </script>

<!-- Datatable extension SELECT 
<link href="https://cdn.datatables.net/v/dt/dt-2.2.2/datatables.min.css" rel="stylesheet" integrity="sha384-2vMryTPZxTZDZ3GnMBDVQV8OtmoutdrfJxnDTg0bVam9mZhi7Zr3J1+lkVFRr71f" crossorigin="anonymous">
<script src="https://cdn.datatables.net/v/dt/dt-2.2.2/datatables.min.js" integrity="sha384-2Ul6oqy3mEjM7dBJzKOck1Qb/mzlO+k/0BQv3D3C7u+Ri9+7OBINGa24AeOv5rgu" crossorigin="anonymous"></script>
-->


<div class="marco">
    <ul class="tabs">

        <li><a href="#Glosas"><span class="fa-solid fa-user-doctor-message"></span> <span class="tab-text"> </span> Glosas</a></li>
        <li><a href="#GlosaClinica"><span class="fa-solid fa-user-doctor-message"></span> <span   class="tab-text"> </span> Glosa Clinica</a></li>
        <li><a href="#NotasCredito"><span class="fa-solid fa-user-doctor-message"></span> <span   class="tab-text"> </span> Notas Credito</a></li>
        <li><a href="#NotasDebito"><span class="fa-solid fa-user-doctor-message"></span> <span   class="tab-text"> </span> Nots Debito</a></li>


    </ul>
</div>

<style>
div.dataTables_wrapper  div.dataTables_filter input {
   height: 2px;
   padding:10px;
   border-radius:8px;
}

div.dataTables_filter input {
    width: 50px;
  }


</style>


{% endblock %}

{% block encabezado %}



{% endblock %}


{% block content %}

<div class="marco">
    <div class="secciones">

        <article id="Glosas">
      
	
            <form action="/glosasx/" method="get" id="FormGlosasx">

                <input type="hidden" id="username" name="username" value="{{Username}}">
                <input type="hidden" id="sedeSeleccionada" name="sedeSeleccionada" value="{{SedeSeleccionada}}">
                <input type="hidden" id="numreporte" name="numreporte" value="{{numreporte}}">
                <input type="hidden" id="grupo" name="grupo" value="{{Grupo}}">
                <input type="hidden" id="subGrupo" name="subGrupo" value="{{SubGrupo}}">
                <!--  Estos si de la Aplixcacion base -->
                <input type="hidden" id="sede" name="sede" value="{{Sede}}">
                <input type="hidden" id="documento" name="documento" value="{{Documento}}">
                <input type="hidden" id="nombreSede" name="nombreSede" value="{{NombreSede}}">
                <input type="hidden" id="profesional" name="profesional" value="{{Profesional}}">
                <input type="hidden" id="permisosGrales" name="permisosGrales" value="{{PermisosGrales}}">
                <input type="hidden" id="permisosDetalle" name="permisosDetalle" value="{{PermisosDetalle}}">
                <input type="hidden" id="escogeModulo" name="escogeModulo" value="{{EscogeModulo}}">
                <input type="hidden" id="username_id" name="username_id" value="{{Username_id}}">

                <input type="hidden" id="tipoDocId" name="tipoDocId" value="">
                <input type="hidden" id="nombreTipoDoc" name="nombreTipoDoc" value="">
                <input type="hidden" id="documentoId" name="documentoId" value="">
                <input type="hidden" id="documento2" name="documento2" value="">
                <input type="hidden" id="consec" name="consec" value="">
                <input type="hidden" id="tipoIng" name="tipoIng" value="{{tipoIng}}">
		<input type="hidden" id="convenioId" name="convenioId" value="{{convenioId}}">
	
            </form>

            <!-- INICIO TABLE DE  EL DATATABLE  -->
		<div class="container my-2">
             
   			   <div class="row">
				  <input type="button" style="height:15px;margin-left: 0 ; margin-bottom: 0;border-top-right-radius: 0;"  size="30px" id="BtnGlosas"  name="BtnGlosas" value="Adicionar" onclick= "Glosas()" >				    

                                        <table  id= "tablaGlosas" class=" display table table-striped" style="width: 100%";>
                                           <thead>
                                            <tr>    
						<bold>                                  
                                            	<th>id</th>
				                <th>FecRecep</th>
				                <th>saldoFac</th>
				                <th>Soportado</th>
				                <th>Aceptado</th>
				                <th>observa</th>
				                <th>FecReg</th>
				                <th>Estado</th>
						<th>Conv</th>
						<th>NombreConv</th>
				                <th>usuarioReg</th>
						<th>fact</th>
						<th>FecResp</th>
						<th>TipoGlosa</th>
						<th>NombreTipo</th>
						<th>UsuarioRecep</th>
				                <th>UsuarioResp</th>
				                <th>Valor</th>    
				                <th>EstaRad</th>    
				                <th>EstaRecep</th>    
				                <th>NombreRecep</th>    
				                <th>sede</th>    
				                <th>Envio</th>
	                                        <th>Seleccionar</th> 
						</bold>                                  
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                           <tfoot>
                                            <tr>    
						<bold>                                  
                                            	<th>id</th>
				                <th>FecRecep</th>
				                <th>saldoFac</th>
				                <th>Soportado</th>
				                <th>Aceptado</th>
				                <th>observa</th>
				                <th>FecReg</th>
				                <th>Estado</th>
						<th>Conv</th>
						<th>NombreConv</th>
				                <th>usuarioReg</th>
						<th>fact</th>
						<th>FecResp</th>
						<th>TipoGlosa</th>
						<th>NombreTipo</th>
						<th>UsuarioRecep</th>
				                <th>UsuarioResp</th>
				                <th>Valor</th>    
				                <th>EstaRad</th>    
				                <th>EstaRecep</th>    
				                <th>NombreRecep</th>    
				                <th>sede</th>    
				                <th>Envio</th>
                                                <th>Seleccionar</th> 
						</bold>                                  
                                            </tr>
                                           </tfoot>
                                        </table>
                                    </div>
                                </div>


	            <!-- Espacio Modales  Glosas-->

            <div class="modal fade" id="crearModelGlosas" tabindex="-1" role="dialog"  style="overflow-y:scroll;" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document" modal-lg>
                    <div class="modal-content">
                        <div class="modal-header">
                             <h4 class="modal-title" id="modelHeadingGlosas"> </h4> 
			<button type="button" class="btn btn-primary" id="saveBtnCrearGlosas" onclick="CrearGlosas()">Grabar!</button> 
                        </div>
		<div style="width:500px; heigth:100px; ">
                        <div class="modal-body">
                            <div class="alert alert-danger error-msg" style="display:none">
                                <ul class="mb-0"></ul>
                            </div>
			
  			  <form id="postFormGlosas" name="postFormGlosas">

                                <input type="hidden" name="post_id" id="post_id">

                      <div class="row row-cols-lg-auto g-3 align-items-center mb-3">


				  <div class="col-12">
					                                   
                                    <input type="hidden" class="form-control" id="sedesClinica_id" name="sedesClinica_id"  value="{{Sede}}" readonly></input>
                                </div>

				<div class="col-12">
                                    convenio_id:
				<select class="select-css"  id="convenio_id"
                                                                name="convenio_id">
                                                            {% for convenios in Convenios %}
                                                            <option value="{{convenios.id}}">
                                                                {{convenios.nombre}}
                                                            </option>
                                                            {% endfor %}
                                                        </select>
                                </div>


			  
				<div class="col-12">
					fechaRecepcion:
                                   	 <label class="visually-hidden" for="fechaRecepcion">fechaRecepcion:</label>
                               
					 <input type="datetime-local"  class="form-control" id="fechaRecepcion" name="fechaRecepcion" placeholder="fechaRecepcion"  >
                                </div>

				<div class="col-12">
                                   	 <label class="visually-hidden" for="observaciones">observaciones:</label>
                               
					 <input type="text"  class="form-control" id="observaciones" name="observaciones" placeholder="observaciones"  >
                                </div>


				<div class="col-12">
                                   	 <label class="visually-hidden" for="factura_id">factura_id:</label>
                               
					 <input type="text" class="form-control" id="factura_id" name="factura_id" placeholder="factura_id"  >
                                </div>




				<div class="col-12">
			Fecha Respuesta:
				 <label class="visually-hidden" for="fechaRespuesta">Fecha Respuesta:</label>
                                    
					 <input type="datetime-local"  class="form-control" id="fechaRespuesta" name="fechaRespuesta" placeholder="fechaRespuesta"  readonly>
                                </div>


				<div class="col-12">
                                    Tipo Glosa:
				<select class="select-css"  id="tipoGlosa_id"  name="tipoGlosa_id">
                                                           {% for tiposGlosas in TiposGlosas %}
                                                            <option value="{{tiposGlosas.id}}">
                                                                {{tiposGlosas.nombre}}
                                                            </option>
                                                            {% endfor %}
                                                          
                                                        </select>
                                </div>
                   
				<div class="col-12">
                                    
				 <label  for="valorGlosa">valorGlosa:</label>
                                    <input type="text" class="form-control" id="valorGlosa" name="valorGlosa" value="0" placeholder="valorGlosa:" ></input>
                                </div>


				<div class="col-12">
                                    Estado Recepcion:
				<select class="select-css"  id="estadoRecepcion_id"  name="estadoRecepcion_id">
                                                           {% for estadosRecepcion in EstadosRecepcion %}
                                                            <option value="{{estadosRecepcion.id}}">
                                                                {{estadosRecepcion.nombre}}
                                                            </option>
                                                            {% endfor %}
                                                          
                                                        </select>
                                </div>

                                <div class="col-12">
                                   
                                    <input type="hidden" id="fechaRegistro" name="fechaRegistro" value="" > </input>
                                </div>

                                <div class="col-12">
				 <label  for="estadoReg">EstadoRegistro:</label>
                                    
                                    <input type="text" class="form-control" id="estadoReg" name="estadoReg" value="A" placeholder="CantidadRechazadas:"  estadoReg> </input>
                                </div>

                                <div class="col-12">
                                    Usuario:
                                    <input type="text" id="usuarioRegistro_id" name="usuarioRegistro_id" value="{{Username_id}}" readonly > </input>
                                </div>

                                </div> <!-- CIERRA ROW 8 COLUMNAS  -->

                            </form>

                        </div> <!-- CIERRA BODY -->
			</div> <!-- CIERRA DIV TAMANO -->			
                        </div> <!-- CIERRA MODAL CONTENTE -->
                    </div> <!-- CIERRA MODAL DIALOG -->
                </div>  <!-- CIERRA MODAL FADE -->

     <!-- FIN Espacio Modales  -->

        </article>

	

<article id="GlosaClinica">

		  <div style="height: 70px;  width:100%; background-color:#EBEBEB;">
		
		
		 </div>
</article>

<article id="RipsTransaccion">


            <!-- INICIO TABLE DE  EL DATATABLE  -->
 	<div class="container my-2">          
   			   <div class="row">
                                        <table  id= "tablaGlosasTransaccion" class=" display table table-striped" style="width: 100%";>
                                           <thead>
                                            <tr>    
						<bold>                                  
                                                <th>id</th>
                                                <th>NumeroDocObligatorio</th>
                                                <th>NumNota</th>
                                                <th>FechaRegistro</th>
                                                <th>TipoNota</th>
                                                <th>UsuarioRegistro</th>
                                                <th>Envio Rips # </th>
						<th>Sedes # </th>
						<th>Accion </th>
						</bold>                                  

                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
 						<tfoot>
                                            <tr>    
						<bold>                                  
                                                <th>id</th>
                                                <th>NumeroDocObligatorio</th>
                                                <th>NumNota</th>
                                                <th>FechaRegistro</th>
                                                <th>TipoNota</th>
                                                <th>UsuarioRegistro</th>
                                                <th>Envio Rips # </th>
						<th>Sedes # </th>
						<th>Accion </th>
						</bold>                                  

                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>



</article>



<article id="RipsUsuarios">
	<div class="container my-2">          
   			   <div class="row">
                                         <table  id= "tablaGlosasUsuarios" class=" display table table-striped" style="width: 100%";>
                                           <thead>
                                            <tr>    
						<bold>                                  
                                                <th>id</th>
                                                <th>tipoDocumento </th>
                                                <th>tipoUsuario </th>
                                                <th>FechaNacimiento </th>
                                                <th>CodSexo </th>
                                                <th>CodZonaTerritorial </th>
                                                <th>Incapacidad </th>
						<th>Consecutivo </th>
                                                <th>FechaRegistro </th>
                                                <th>CodMunicipio</th>
                                                <th>CodPaisOrigen </th>
                                                <th>CodPaisResidencia </th>
                                                <th>UsuarioRegistro </th>
                                                <th>NumDocumentoIdentifica </th>
                                                <th>RipsDetalleId </th>
                                                <th>RipsTransaccionId </th>
						<th>Accion </th>
						</bold>                                  

                                            </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                           <tfoot>
                                            <tr>    
						<bold>                                  
                                                <th>id</th>
                                                <th>tipoDocumento </th>
                                                <th>tipoUsuario </th>
                                                <th>FechaNacimiento </th>
                                                <th>CodSexo </th>
                                                <th>CodZonaTerritorial </th>
                                                <th>Incapacidad </th>
						<th>Consecutivo </th>
                                                <th>FechaRegistro </th>
                                                <th>CodMunicipio</th>
                                                <th>CodPaisOrigen </th>
                                                <th>CodPaisResidencia </th>
                                                <th>UsuarioRegistro </th>
                                                <th>NumDocumentoIdentifica </th>
                                                <th>RipsDetalleId </th>
                                                <th>RipsTransaccionId </th>
						<th>Accion </th>
						</bold>                                  

                                            </tr>
                                            </tfoot>

                                        </table>
                                    </div>
                                </div>

</article>


<article id="RipsHospitalizacion">

		  <div style="height: 70px;  width:100%; background-color:#EBEBEB;">
		
		
		 </div>
</article>

<article id="RipsUrgObs">

		  <div style="height: 70px;  width:100%; background-color:#EBEBEB;">
		
		
		 </div>
</article>

<article id="RipsRecienNacido">

		  <div style="height: 70px;  width:100%; background-color:#EBEBEB;">
		
		
		 </div>
</article>

<article id="RipsProcedimientos">

	<div class="container my-2">          
   			   <div class="row">

					<table id="tablaGlosasProcedimientos" class="display table table-striped" style="width:100%";>
                                           <thead>
                                            <tr>    
						<bold>                                  
                                                <th>id</th>
                                                <th>Prestador </th>
                                                <th>fechaAtn </th>
                                                <th>MIPRES</th>
                                                <th>Aut </th>
                                                <th>Identif </th>
                                                <th>vr </th>
						<th>Moderadora </th>                                               
                                                <th>consec</th>
                                                <th>Complicacion </th>
                                                <th>Principal </th>
                                                <th>Relacionado </th>
                                                <th>Proced</th>
                                                <th>Servicio </th>
                                                <th>concepto </th>
                                                <th>FinalTecSalud </th>
                                                <th>grupoServ </th>
                                                <th>modGrupoServ </th>
                                                <th>tipoIdent </th>
                                                <th>usuario </th>
                                                <th>viaIngreso </th>
                                                <th>ripsDetalle </th>
                                                <th>tipoModerado </th>
						<th>Accion </th>
						</bold>                                  
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                           <tfoot>
                                            <tr>    
						<bold>                                  
                                                <th>id</th>
                                                <th>Prestador </th>
                                                <th>fechaAtn </th>
                                                <th>MIPRES</th>
                                                <th>Aut </th>
                                                <th>Identif </th>
                                                <th>vr </th>
						<th>Moderadora </th>                                               
                                                <th>consec</th>
                                                <th>Complicacion </th>
                                                <th>Principal </th>
                                                <th>Relacionado </th>
                                                <th>Proced</th>
                                                <th>Servicio </th>
                                                <th>concepto </th>
                                                <th>FinalTecSalud </th>
                                                <th>grupoServ </th>
                                                <th>modGrupoServ </th>
                                                <th>tipoIdent </th>
                                                <th>usuario </th>
                                                <th>viaIngreso </th>
                                                <th>ripsDetalle </th>
                                                <th>tipoModerado </th>
						<th>Accion </th>
						</bold>                                  
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
  

</article>

<article id="RipsMedicamentos">
		
<!-- DESDE AQUI ENCABEZADO GLOSA-->

	  <form id="postFormGlosasMed" name="postFormGlosasMed">
		<input type="hidden" name="post_id" id="post_id">

                      <div class="row">

			<div class="col-1">

				Glosa No
                                <input type="text" class="form-control form-control-sm"  name="post_idMedGlo" id="post_idMedGlo">
			</div>


					                                   
                                    <input type="hidden" class="form-control" id="sedesClinica_id" name="sedesClinica_id"  value="{{Sede}}" readonly></input>
                           

			<div class="col-1">
					Factura:
                                   	
                               
					 <input type="text" class="form-control form-control-sm" id="factura_idMed" name="factura_idMed"  readonly >
                             
</div>
				<div class="col-2">
					Fecha Recepcion:
                                   	
                               
					 <input type="text" class="form-control form-control-sm" id="fechaRecepcionMed" name="fechaRecepcionMed"  readonly >
                               
</div>

				<div class="col-2">
					ValorGlosa
                                   	 <label class="visually-hidden" for="valorGlosaMed">Valor Glosa:</label>
                               
					 <input type="text" class="form-control form-control-sm" id="valorGlosaMed" name="valorGlosaMed"  readonly >
                              

</div>
				<div class="col-2">
					EstadoReg:
                                   	 <label class="visually-hidden" for="estadoRegMed">EstadoReg:</label>
                               
					 <input type="text" class="form-control form-control-sm" id="estadoRegMed" name="estadoRegMed" readonly >
                           </div>

				<div class="col-2">
					TotalSoportado:
                                   	 <label class="visually-hidden" for="totalSoportadoMed">TotalSoportado:</label>
                               
					 <input type="text" class="form-control form-control-sm" id="totalSoportadoMed" name="totalSoportadoMed"  readonly >
                                </div>


				<div class="col-2">
					TotalAceptado:
                                   	 <label class="visually-hidden" for="totalAceptadoMed">TotalSoportado:</label>
                               
					 <input type="text" class="form-control form-control-sm" id="totalAceptadoMed" name="totalAceptadoMed"  readonly >
                                </div>

				<div class="col-1">
					SaldoFactura:
                                   	 <label class="visually-hidden" for="saldoFacturaMed">SaldoFactura:</label>
                               
					 <input type="text" class="form-control form-control-sm" id="saldoFacturaMed" name="saldoFacturaMed"  readonly >
                                </div>
				<div class="col-1">
					Observaciones:
                                   	 <label class="visually-hidden" for="observacionesMed">Observa:</label>
                               
					 <input type="text" class="form-control form-control-sm" id="observacionesMed" name="observacionesMed" preadonly >
                                </div>

				<div class="col-1">
                                    Convenio:
				<select class="select-css"  id="convenio_idMed"  name="convenio_idMed" disabled>
                                                           {% for convenios in Convenios %}
                                                            <option value="{{convenios.id}}">
								  {{convenios.nombre}}
                                                            </option>
                                                            {% endfor %}
                                                          
                                                        </select>
                                </div>


			<div class="col-1">
					fechaRegistro:
                                   	 <label class="visually-hidden" for="fechaRegistroMed">FecRegistro:</label>
                               
					 <input type="text" class="form-control form-control-sm" id="fechaRegistroMed" name="fechaRegistroMed"  readonly >
                                </div>

				<div class="col-1">
					usuarioRegistro_id:
                                   	 <label class="visually-hidden" for="usuarioRegistro_idMed">UsuarioReg:</label>
                               
					 <input type="text" class="form-control form-control-sm" id="usuarioRegistro_idMed" name="usuarioRegistro_idMed"  readonly >
                                </div>
				<div class="col-1">
					fechaRespuesta:
                                   	 <label class="visually-hidden" for="fechaRespuestaMed">FecRta:</label>
                               
					 <input type="text" class="form-control form-control-sm" id="fechaRespuestaMed" name="fechaRespuestaMed"  readonly >
                                </div>

				<div class="col-1">
                                    Tipo Glosa:
				<select class="select-css"  id="tipoGlosa_idMed"  name="tipoGlosa_idMed" >
                                                           {% for tiposGlosas in TiposGlosas %}
                                                            <option value="{{tiposGlosas.id}}">
                                                                {{tiposGlosas.nombre}}
                                                            </option>
                                                            {% endfor %}
                                                          
                                                        </select>
                                </div>


			<div class="col-1">
					usuarioRecepcion_id:
                                   	 <label class="visually-hidden" for="usuarioRecepcion_idMed">UsuarioRecep:</label>
                               
					 <input type="text" class="form-control form-control-sm" id="usuarioRecepcion_idMed" name="usuarioRecepcion_idMed"  readonly >
                                </div>
		<div class="col-1">
					usuarioRespuesta_id:
                                   	 <label class="visually-hidden" for="usuarioRespuesta_idMed">UsuarioRta:</label>
                               
					 <input type="text" class="form-control form-control-sm" id="usuarioRespuesta_idMed" name="usuarioRespuesta_idMed"  readonly >
                                </div>


				<div class="col-1">
                                    Estado radicacion:
				<select class="select-css"  id="estadoRadicacion_idMed"  name="estadoRadicacion_idMed">
                                                           {% for estadosRadicacion in EstadosRadicacion %}
                                                            <option value="{{estadosRadicacion.id}}">
                                                                {{estadosRadicacion.nombre}}
                                                            </option>
                                                            {% endfor %}
                                                          
                                                        </select>
                                </div>

			<div class="col-1">
                                    EstadoRecepcion:
				<select class="select-css"  id="estadoRecepcion_idMed"  name="estadoRecepcion_idMed">
                                                           {% for estadosRecepcion in EstadosRecepcion %}
                                                            <option value="{{estadosRecepcion.id}}">
								  {{estadosRecepcion.nombre}}	
                                                            </option>
                                                            {% endfor %}
                                                          
                                                        </select>
                                </div>

		<div class="col-1">
			<button type="button" class="btn btn-primary" id="saveBtnGuardarGlosa" onclick="GuardaGlosasEstados()">Grabar!</button> 
		 </div>

                                </div> <!-- CIERRA ROW 8 COLUMNAS  -->

                            </form>



	<div class="container my-2">          
   			   <div class="row">
                                        <table  id= "tablaGlosasMedicamentos" class=" display table table-striped" style="width: 100%";>
                                           <thead>
                                            <tr>    
						<bold>                                  
				<th>id</th>
			<th>itemFac</th>
			<th>nom</th>
			<th> MIPRES</th>
			<th> cums</th>
			<th> concentra</th>
			<th> cantidad</th>
			<th> vrUnit</th>
			<th> vrServicio</th>
			<th>  consRips</th>
			<th> tipoMed</th>
			<th> undMed_id</th>
			<th> cantGlosada</th>
			<th> cantAceptada</th>
			<th> cantSoportado</th>
			<th> valorGlosado</th>
			<th>vAceptado</th>
			<th> valorSoportado </th>
			<th> motivoGlosa_id</th>
			<th> notasCreditoGlosa</th>
			<th> notasCreditoOtras</th>
			<th> notasDebito</th>
			<th>Accion </th>
						</bold>                                  

                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                           <tfoot>
                                            <tr>    
						<bold>                                  
				<th>id</th>
			<th>itemFac</th>
			<th>nomTecno</th>
			<th> MIPRES</th>
			<th> cums</th>
			<th> concentra</th>
			<th> cantidad</th>
			<th> vrUnit</th>
			<th> vrServicio</th>
			<th>  consRips</th>
			<th> tipoMed</th>
			<th> undMed_id</th>
			<th> cantGlosada</th>
			<th> cantAceptada</th>
			<th> cantSoportado</th>
			<th> valorGlosado</th>
			<th>vAceptado</th>
			<th> valorSoportado </th>
			<th> motivoGlosa_id</th>
			<th> notasCreditoGlosa</th>
			<th> notasCreditoOtras</th>
			<th> notasDebito</th>
			<th>Accion </th>				
				</bold>                                  

                                            </tr>
                                            </tfoot>

                                        </table>
                                    </div>
                                </div>


	            <!-- Espacio Modales Glosas Medicamentos-->

            <div class="modal fade" id="crearModelGlosasMedicamentos" tabindex="-1" role="dialog"  style="overflow-y:scroll;" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document" modal-lg>
                    <div class="modal-content">
                        <div class="modal-header">
                             <h4 class="modal-title" id="modelHeadingGlosasMedicamentos"> </h4> 
			<button type="button" class="btn btn-primary" id="saveBtnCrearGlosasMedicamentos" onclick="GuardarGlosasMedicamentos()">Grabar!</button> 
                        </div>
		<div style="width:500px; heigth:100px; ">
                        <div class="modal-body">
                            <div class="alert alert-danger error-msg" style="display:none">
                                <ul class="mb-0"></ul>
                            </div>
			
  			  <form id="postFormMedicamentos" name="postFormMedicamentos">

                                

                      <div class="row">

			 <div class="col-2">
				<input type="text" class="form-control form-control-sm" name="post_idRipsMed" id="post_idRipsMed">
			   </div>



			 <div class="col-2">
				<input type="text" class="form-control form-control-sm" name="glosaRipsMed" id="glosaRipsMed">
			   </div>


				  <div class="col-1">
					                                   
                                    <input type="hidden" class="form-control" id="sedesClinica_id" name="sedesClinica_id"  value="{{Sede}}" readonly></input>
                                </div>

			  
				<div class="col-2">
					
                                   	 <label  for="itemFacturaRipsMed">itemFactura:</label>
                               
					 <input type="text"  class="form-control form-control-sm" id="itemFacturaRipsMed" name="itemFacturaRipsMed" readonly >
                                </div>

				<div class="col-3">
				
                                   	 <label  for="nomTecnologiaSaludRipsMed">nomTecnologiaSalud:</label>
                               
					 <input type="text"  class="form-control form-control-sm" id="nomTecnologiaSaludRipsMed" name="nomTecnologiaSaludRipsMed" readonly  >
                                </div>


				<div class="col-2">
					
                                   	 <label  for="cumsRipsMed">cums:</label>
                               
					 <input type="text" class="form-control form-control-sm" id="cumsRipsMed" name="cumsRipsMed"  readonly  >
                                </div>




				<div class="col-4">
			
				 <label for="concentracionMedicamentoRipsMed">concentracionMedicamento:</label>
                                    
					 <input type="text"  class="form-control form-control-sm" id="concentracionMedicamentoRipsMed" name="concentracionMedicamentoRipsMed"   readonly>
                                </div>

                   
				<div class="col-2">
                                    		
				 <label  for="cantidadMedicamentoRipsMed">cantidadMedicamento:</label>
                                    <input type="text" class="form-control form-control-sm" id="cantidadMedicamentoRipsMed" name="cantidadMedicamentoRipsMed" value="0"  readonly></input>
                                </div>


                                <div class="col-1">
                                   
                                    <input type="hidden" id="fechaRegistroRipsMed" name="fechaRegistroRipsMed" value="" > </input>
                                </div>

                                <div class="col-4">
				 <label  for="estadoRegRipsMed">EstadoRegistro:</label>
                                    
                                    <input type="text" class="form-control form-control-sm" id="estadoRegRipsMed" name="estadoRegRipsMed" value="A"  readonly> </input>
                                </div>

                                <div class="col-4">
                                  <label  for="vrUnitMedicamentoRipsMed">VrUnitMedicamento:</label>
                                    <input type="text" id="vrUnitMedicamentoRipsMed" name="vrUnitMedicamentoRipsMed" value="" readonly > </input>
                                </div>

				<div class="col-4">
                                    		
				 <label  for="vrServicioRipsMed">vrServicio:</label>
                                    <input type="text" class="form-control form-control-sm" id="vrServicioRipsMed" name="vrServicioRipsMed" value="0"  readonly></input>
                                </div>



				<div class="col-4">
                                    		
				 <label  for="consecutivoRipsMed">consecutivoRips:</label>
                                    <input type="text" class="form-control form-control-sm" id="consecutivoRipsMed" name="consecutivoRipsMed" value="0" readonly></input>
                                </div>


				<div class="col-4">
                                    		
				 <label  for="tipoMedicamento_idRipsMed">tipoMedicamento_id:</label>
                                    <input type="text" class="form-control form-control-sm" id="tipoMedicamento_idRipsMed" name="tipoMedicamento_idRipsMed" value="0"  readonly></input>
                                </div>

				<div class="col-4">
                                    		
				 <label  for="tipoMedicamento_idRipsMed">tipoMedicamento_id:</label>
                                    <input type="text" class="form-control form-control-sm" id="tipoMedicamento_idRipsMed" name="tipoMedicamento_idRipsMed" value="0"  readonly></input>
                                </div>

				<div class="col-4">
                                    		
				 <label  for="unidadMedida_idRipsMed">unidadMedida_id:</label>
                                    <input type="text" class="form-control form-control-sm" id="unidadMedida_idRipsMed" name="unidadMedida_idRipsMed" value="0" readonly></input>
                                </div>

			<div class="col-4">
                                    		
				 <label  for="cantidadGlosadaRipsMed">cantidadGlosada:</label>
                                    <input type="text" class="form-control form-control-sm" id="cantidadGlosadaRipsMed" name="cantidadGlosadaRipsMed" value="0"  ></input>
                                </div>

				<div class="col-4">
                                    		
				 <label  for="cantidadAceptadaRipsMed">cantidadAceptada:</label>
                                    <input type="text" class="form-control form-control-sm" id="cantidadAceptadaRipsMed" name="cantidadAceptadaRipsMed" value="0"  ></input>
                                </div>

				<div class="col-4">
                                    		
				 <label  for="cantidadSoportadoRipsMed">cantidadSoportado:</label>
                                    <input type="text" class="form-control form-control-sm" id="cantidadSoportadoRipsMed" name="cantidadSoportadoRipsMed" value="0"  ></input>
                                </div>



				<div class="col-4">
                                    		
				 <label  for="valorGlosadoRipsMed">valorGlosado:</label>
                                    <input type="text" class="form-control form-control-sm" id="valorGlosadoRipsMed" name="valorGlosadoRipsMed" value="0"  ></input>
                                </div>


				<div class="col-4">
                                    		
				 <label  for="vAceptadoRipsMed">vAceptado:</label>
                                    <input type="text" class="form-control form-control-sm" id="vAceptadoRipsMed" name="vAceptadoRipsMed" value="0" ></input>
                                </div>

				<div class="col-4">
                                    		
				 <label  for="valorSoportadoRipsMed">valorSoportado:</label>
                                    <input type="text" class="form-control form-control-sm" id="valorSoportadoRipsMed" name="valorSoportadoRipsMed" value="0"  ></input>
                                </div>

			<div class="col-4">
                                    Motivo Glosa:
				<select class="select-css"  id="motivoGlosa_idRipsMed"  name="motivoGlosa_idRipsMed">
                                                           {% for motivosGlosas in MotivosGlosas %}
                                                            <option value="{{motivosGlosas.id}}">
                                                                {{motivosGlosas.nombre}}
                                                            </option>
                                                            {% endfor %}
                                                          
                                                        </select>
                                </div>


			<div class="col-4">
                                    		
				 <label  for="notasCreditoGlosaRipsMed">notasCreditoGlosa:</label>
                                    <input type="text" class="form-control form-control-sm" id="notasCreditoGlosaRipsMed" name="notasCreditoGlosaRipsMed" value="0"  ></input>
                                </div>


			<div class="col-4">
                                    		
				 <label  for="notasCreditoOtrasRipsMed">notasCreditoOtras:</label>
                                    <input type="text" class="form-control form-control-sm" id="notasCreditoOtrasRipsMed" name="notasCreditoOtrasRipsMed" value="0"  ></input>
                                </div>


			<div class="col-4">
                                    		
				 <label  for="notasDebitoRipsMed">notasDebito:</label>
                                    <input type="text" class="form-control form-control-sm" id="notasDebitoRipsMed" name="notasDebitoRipsMed" value="0"  ></input>
                                </div>

			
			<div class="col-4">
                                    		
				 <label  for="mensajesMed">Mensajes:</label>
                                    <span id="mensajesMed" name="mensajesMed" style="color:red";> </span>
                                </div>





                                </div> <!-- CIERRA ROW 8 COLUMNAS  -->

                            </form>

                        </div> <!-- CIERRA BODY -->
			</div> <!-- CIERRA DIV TAMANO -->			
                        </div> <!-- CIERRA MODAL CONTENTE -->
                    </div> <!-- CIERRA MODAL DIALOG -->
                </div>  <!-- CIERRA MODAL FADE -->

     <!-- FIN Espacio Modales  -->


  

</article>

<article id="RipsOtrosServicios">

		  <div style="height: 70px;  width:100%; background-color:#EBEBEB;">
		
		
		 </div>
</article>



     
    </div>
</div>

{% endblock %}

{% block mensajeria %}
<div class="marco">
<span> ... </span>
     <span id="mensajes" name="mensajes">. </span>

</div>
{% endblock %}


{% block footer %}

<div class="marco">
    <ul class="tabs">

        <li><a href="#RipsTransaccion"><span class="fa-solid fa-user-doctor-message"></span> <span class="tab-text"> </span> Rips Transaccion </a></li>
        <li><a href="#RipsUsuarios"><span class="fa-solid fa-user-doctor-message"></span> <span class="tab-text"> </span> Rips Usuarios </a></li>
        <li><a href="#RipsHospitalizacion"><span class="fa-solid fa-user-doctor-message"></span> <span class="tab-text"> </span> Rips Hospitalizacion </a></li>
        <li><a href="#RipsUrgObs"><span class="fa-solid fa-user-doctor-message"></span> <span class="tab-text"> </span> Rips Urgencias Observacion </a></li>
        <li><a href="#RipsRecienNacido"><span class="fa-solid fa-user-doctor-message"></span> <span class="tab-text"> </span> Rips Recien Nacidos </a></li>
        <li><a href="#RipsConsulta"><span class="fa-solid fa-user-doctor-message"></span> <span   class="tab-text"> </span> Rips Consulta</a></li>
        <li><a href="#RipsProcedimientos"><span class="fa-solid fa-user-doctor-message"></span> <span  class="tab-text"> </span> Rips Procedimientos </a></li> 
        <li><a href="#RipsMedicamentos"><span class="fa-solid fa-user-doctor-message"></span> <span  class="tab-text"> </span> Rips Medicamentos </a></li> 
        <li><a href="#RipsOtrosServicios"><span class="fa-solid fa-user-doctor-message"></span> <span  class="tab-text"> </span> Rips Otros Servicios </a></li> 
    </ul>
</div>

{% endblock %}




