{% extends "cirugia/menuCirugiaF.html" %}
{% load static %}

{% block head %}


<link rel="stylesheet" type="text/css" href={% static 'css/panelCirugia.css' %}>
<link rel="stylesheet" type="text/css" href={% static 'css/fontawesome.css' %}>
<link rel="stylesheet" type="text/css"  href = {% static 'css/litle.css' %} >
<script src={% static 'js/panelTabsRips.js' %} defer >         </script>

<!-- Datatable extension SELECT 
<link href="https://cdn.datatables.net/v/dt/dt-2.2.2/datatables.min.css" rel="stylesheet" integrity="sha384-2vMryTPZxTZDZ3GnMBDVQV8OtmoutdrfJxnDTg0bVam9mZhi7Zr3J1+lkVFRr71f" crossorigin="anonymous">
<script src="https://cdn.datatables.net/v/dt/dt-2.2.2/datatables.min.js" integrity="sha384-2Ul6oqy3mEjM7dBJzKOck1Qb/mzlO+k/0BQv3D3C7u+Ri9+7OBINGa24AeOv5rgu" crossorigin="anonymous"></script>
-->


<div class="marco">
    <ul class="tabs">
	<li><a href="#SolicitarCirugia"><span class="fa-solid fa-user-doctor-message"></span> <span class="tab-text"> </span> Solicitar Cirugia </a></li>
        <li><a href="#ProgramacionCirugia"><span class="fa-solid fa-user-doctor-message"></span> <span class="tab-text"> </span> Programacion de Cirugia </a></li>
        <li><a href="#CirugiaDetalle"><span class="fa-solid fa-user-doctor-message"></span> <span   class="tab-text"> </span> Detalle de Cirugia</a></li>
        <li><a href="#InformeQx"><span class="fa-solid fa-user-doctor-message"></span> <span  class="tab-text"> </span> Informe Quirurgico </a></li>
        <li><a href="#RecordAnestesico"><span class="fa-solid fa-user-doctor-message"></span> <span  class="tab-text"> </span> Record Anestesico </a></li>
	<li><a href="#HojaDeGasto"><span class="fa-solid fa-user-doctor-message"></span> <span  class="tab-text"> </span> Hoja De Gasto </a></li>
	<li><a href="#Facturacion"><span class="fa-solid fa-user-doctor-message"></span> <span  class="tab-text"> </span> Facturacion </a></li>

    </ul>
</div>


<style>
div.dataTables_wrapper  div.dataTables_filter input {
   height: 2px;
   padding:10px;
   border-radius:8px;
}

div.dataTables_filter input {
    width: 50px;
  }


#tablaProgramacionCirugia {   
 font-family: 'Times', 'Times New Roman',Verdana,  sans-serif;
 font-size: 50px;
 padding: 1px;
  height: 1px;
    }

#tablaSalasCirugia {   
 font-family: 'Times', 'Times New Roman',Verdana,  sans-serif;
 font-size: 50px;
 padding: 1px;
  height: 1px;
    }


table.dataTable tbody tr {
  min-height: 60px;
}


.my-row-class {
    height: 30px;
}

</style>


{% endblock %}

{% block encabezado %}



{% endblock %}


{% block content %}

<div class="marco">
    <div class="secciones">

	<article id="SolicitarCirugia">
        	
            <!-- INICIO TABLE DE  EL DATATABLE  -->
		<div class="container my-2">





             
		<div align="right" height="15px" width="50px">
               <input type="button" style="height:25px;margin-left: 0 ; margin-bottom: 0;border-top-right-radius: 0;"  size="30px" id="BtnAdicionarCirugia"  name="BtnAdicionarCirugia" value="Adicionar" onclick= "SolicitudCirugia()" >				    
		</div>

   			   <div class="row">
				
                                        <table  id= "tablaSolicitudCirugia" class=" display table table-striped table-sm fs-6 nowrap" style="width: 100%";>
                                           <thead>
                                            <tr>    
						<bold>                
					     <th>Sel</th>                                               
					     <th>Proced</th>                                               
						 <th>Participa</th>                                               
					<th>sede</th> 
					<th>cirugia</th> 
					<th>tipoDoc</th>  
					<th>documento</th> 
					<th>paciente </th> 
					<th>nacimiento</th> 
					<th>genero</th>  
					<th>edad</th> 
					<th>ingreso</th> 
					<th>solicita</th>  
					<th>cama</th>	
					<th>empresa</th>
					<th>telefono</th>
					<th>solicitaSangre</th>		
					<th>describeSangre</th>
					<th>cantidadSangre</th>
					<th>solicitaCamaUci</th>
					<th>solicitaMicroscopio</th>
					<th>solicitaRx</th>
					<th>solicitaAutoSutura</th>
					<th>solicitaOsteosintesis</th>
					<th>solicitaBiopsia</th>
					<th>solicitaMalla</th>
					<th>solicitaOtros</th>
					<th>estadoProg </th>
					<th>anestesia</th>
				              
					</bold>                                  

                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                     
                                        </table>
                                    </div>
                                </div>

 <!-- Modales Cirugia -->


            <div class="modal fade" id="crearModelSolicitudCirugia" tabindex="-1" role="dialog"  style="overflow-y:scroll;" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
                <div class="modal-dialog  modal-lg modal-dialog-scrollable  modal-dialog-center" role="document" >
                    <div class="modal-content">
                        <div class="modal-header">
                             <h4 class="modal-title" id="modelHeadingSolicitudCirugia"> </h4> 
			<button type="button" class="btn btn-primary" id="saveBtnCrearSolicitudonCirugia" onclick="CrearSolicitudCirugia()">Grabar!</button> 
                         <button type="button" class="close" data-bs-dismiss="modal"  aria-label="Close"> <span aria-hidden="true">&times;</span>  </button>
			</div>
		
                        <div class="modal-body">
                            <div class="alert alert-danger error-msg" style="display:none">
                                <ul class="mb-0"></ul>
                            </div>
			
  			  <form id="postFormSolicitudCirugia" name="postFormSolicitudCirugia">

                                <input type="hidden" name="post_id" id="post_id">
                                <input type="text" name="cirugiaId2" id="cirugiaId2">
                                <input type="text" name="ingresoId2" id="ingresoId2">
			     <input type="hidden" class="form-control" id="sedesClinica_id" name="sedesClinica_id"  readonly></input>

                      <div class="row row-cols-lg-auto g-3 align-items-center mb-3">

		
				<div class="col-12">
			<!-- Aqui Data Table  -->
				 <div class="row">
				
                                        <table  id= "tablaIngresosCirugia" class=" display table table-striped table-sm fs-6 nowrap" style="width: 100%";>
                                           <thead>
                                            <tr>    
						<bold>                
					     <th>Sel</th>                                               
					<th>id</th> 
					<th>tipoDoc</th>  
					<th>documento</th> 
					<th>paciente </th> 
					<th>consecutivo </th> 
					<th>genero</th>  
					<th>edad</th> 
					<th>nacimiento</th> 
					<th>cama</th>	
					<th>telefono</th>
					<th>empresa</th>
				              
					</bold>                                  

                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                     
                                        </table>
                                    </div>
				 </div>

			<!-- Fin Data table -->

			  <div class="col-4">
                                        <label for="serviciosAdministrativosI" class="col-sm-1 control-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SeviciosAdmon:</label>
                                        <div class="col-sm-8">
                                            <select class="select-css h-40 w-20" id="serviciosAdministrativosI"  tabindex= "0"
                                                    name="serviciosAdministrativosI"
                                                    required>
                                                {% for serviciosAdministrativos in ServiciosAdministrativos %}
                                                <option value="{{serviciosAdministrativos.id}}"> {{serviciosAdministrativos.nombre}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
	
				  <div class="col-4">
                                        <label for="anestesia" class="col-sm-1 control-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SeviciosAdmon:</label>
                                        <div class="col-sm-8">
                                            <select class="select-css h-40 w-20" id="anestesia"  tabindex= "0"
                                                    name="anestesia"
                                                    required>
                                                {% for tiposAnestesia in TiposAnestesia %}
                                                <option value="{{tiposAnestesia.id}}"> {{tiposAnestesia.nombre}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

				  <div class="col-4">
                                        <label for="tiposCirugia" class="col-sm-1 control-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SeviciosAdmon:</label>
                                        <div class="col-sm-8">
                                            <select class="select-css h-40 w-20" id="tiposCirugia"  tabindex= "0"
                                                    name="tiposCirugia"
                                                    required>
                                                {% for tiposCirugia in TiposCirugia %}
                                                <option value="{{tiposCirugia.id}}"> {{tiposCirugia.nombre}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

  				<div class="col-4">
                                        <label for="dxPreQx" class="col-sm-1 control-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SeviciosAdmon:</label>
                                        <div class="col-sm-8">
                                            <select class="select-css h-40 w-20" id="dxPreQx"  tabindex= "0"
                                                    name="dxPreQx"
                                                    required>
                                                {% for diagnosticosCirugia in DiagnosticosCirugia %}
                                                <option value="{{diagnosticosCirugia.id}}"> {{diagnosticosCirugia.nombre}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

				<div class="col-3">
                                        <label for="dxPrinc" class="col-sm-1 control-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SeviciosAdmon:</label>
                                        <div class="col-sm-8">
                                            <select class="select-css h-40 w-20" id="dxPrinc"  tabindex= "0"
                                                    name="dxPrinc"
                                                    required>
                                                {% for diagnosticosCirugia in DiagnosticosCirugia %}
                                                <option value="{{diagnosticosCirugia.id}}"> {{diagnosticosCirugia.nombre}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

				<div class="col-3">
                                        <label for="dxRel1" class="col-sm-1 control-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SeviciosAdmon:</label>
                                        <div class="col-sm-8">
                                            <select class="select-css h-40 w-20" id="dxRel1"  tabindex= "0"
                                                    name="dxRel1"
                                                    required>
                                                {% for diagnosticosCirugia in DiagnosticosCirugia %}
                                                <option value="{{diagnosticosCirugia.id}}"> {{diagnosticosCirugia.nombre}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
	
				<div class="col-3">
                                        <label for="dxRel2" class="col-sm-1 control-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SeviciosAdmon:</label>
                                        <div class="col-sm-8">
                                            <select class="select-css h-40 w-20" id="dxRel2"  tabindex= "0"
                                                    name="dxRel2"
                                                    required>
                                                {% for diagnosticosCirugia in DiagnosticosCirugia %}
                                                <option value="{{diagnosticosCirugia.id}}"> {{diagnosticosCirugia.nombre}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

				<div class="col-3">
                                        <label for="especialidadX" class="col-sm-1 control-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SeviciosAdmon:</label>
                                        <div class="col-sm-8">
                                            <select class="select-css h-40 w-20" id="especialidadX"  tabindex= "0"
                                                    name="especialidadX"
                                                    required>
                                                {% for especialidadesCirugia in EspecialidadesCirugia %}
                                                <option value="{{especialidadesCirugia.id}}"> {{especialidadesCirugia.nombre}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>


                                                   
				
				<div class="col-1">
					                          	                               
					 <input type="text"  class="form-control form-control-sm" id="solicitaHospitalizacion" name="solicitaHospitalizacion" size="7" placeholder="SolHosp"  >

                                </div>
				<div class="col-1">
					<label  for="solicitaAyudante">solicitaAyudante:</label>                               	                               
					 <input type="text"  class="form-control form-control-sm" id="solicitaAyudante" name="solicitaAyudante" placeholder="solicitaAyudante"  >

                                </div>
				<div class="col-1">
					<label  for="solicitaTiempoQx">solicitaTiempoQx:</label>                               	                               
					 <input type="text"  class="form-control form-control-sm" id="solicitaTiempoQx" name="solicitaTiempoQx" placeholder="solicitaTiempoQx"  >

                                </div>
				<div class="col-1">
					<label  for="solicitatipoQx">solicitatipoQx:</label>                               	                               
					 <input type="text"  class="form-control form-control-sm" id="solicitatipoQx" name="solicitatipoQx" placeholder="solicitatipoQx"  >

                                </div>
				<div class="col-1">
					<label  for="solicitaAnestesia">solicitaAnestesia:</label>                               	                               
					 <input type="text"  class="form-control form-control-sm" id="solicitaAnestesia" name="solicitaAnestesia" placeholder="solicitaAnestesia"  >

                                </div>
				<div class="col-1">
					<label  for="solicitaOtros">solicitaOtros:</label>                               	                               
					 <input type="text"  class="form-control form-control-sm" id="solicitaOtros" name="solicitaOtros" placeholder="solicitaOtros"  >

                                </div>
				<div class="col-1">
					<label  for="tiempoMaxQx">tiempoMaxQx:</label>                               	                               
					 <input type="text"  class="form-control form-control-sm" id="tiempoMaxQx" name="tiempoMaxQx" placeholder="tiempoMaxQx"  >

                                </div>
				<div class="col-1">
					<label  for="solicitaAutoSutura">solicitaAutoSutura:</label>                               	                               
					 <input type="text"  class="form-control form-control-sm" id="solicitaAutoSutura" name="solicitaAutoSutura" placeholder="solicitaAutoSutura"  >

                                </div>
				<div class="col-1">
					<label  for="solicitaSoporte">solicitaSoporte:</label>                               	                               
					 <input type="text"  class="form-control form-control-sm" id="solicitaSoporte" name="solicitaSoporte" placeholder="solicitaAutoSutura"  >

                                </div>
				<div class="col-1">
					<label  for="describeOtros">describeOtros:</label>                               	                               
					 <input type="text"  class="form-control form-control-sm" id="describeOtros" name="describeOtros" placeholder="describeOtros"  >

                                </div>


				<div class="col-1">
					<label  for="solicitaSangre">solicitaSangre:</label>                               	                               
					 <input type="text"  class="form-control form-control-sm" id="solicitaSangre" name="solicitaSangre" placeholder="solicitaSangre"  >

                                </div>
						

				<div class="col-1">
					<label  for="describeSangre">describeSangre:</label>                               	                               
					 <input type="text"  class="form-control form-control-sm" id="describeSangre" name="describeSangre" placeholder="describeSangre"  >

                                </div>

				<div class="col-1">
					<label  for="cantidadSangre">cantidadSangre:</label>                               	                               
					 <input type="text"  class="form-control form-control-sm" id="cantidadSangre" name="cantidadSangre" placeholder="cantidadSangre"  >

                                </div>

				<div class="col-1">
					<label  for="solicitaCamaUci">solicitaCamaUci:</label>                               	                               
					 <input type="text"  class="form-control form-control-sm" id="solicitaCamaUci" name="solicitaCamaUci" placeholder="solicitaCamaUci"  >

                                </div>

								<div class="col-1">
					<label  for="solicitaMicroscopio">solicitaMicroscopio:</label>                               	                               
					 <input type="text"  class="form-control form-control-sm" id="solicitaMicroscopio" name="solicitaMicroscopio" placeholder="solicitaMicroscopio"  >

                                </div>
			<div class="col-1">
					<label  for="solicitaCamaUci">solicitaCamaUci:</label>                               	                               
					 <input type="text"  class="form-control form-control-sm" id="solicitaCamaUci" name="solicitaCamaUci" placeholder="solicitaCamaUci"  >

                                </div>
			<div class="col-1">
					<label  for="solicitaRx">solicitaRx:</label>                               	                               
					 <input type="text"  class="form-control form-control-sm" id="solicitaRx" name="solicitaRx" placeholder="solicitaRx"  >

                                </div>
			<div class="col-1">
					<label  for="solicitaCamaUci">solicitaCamaUci:</label>                               	                               
					 <input type="text"  class="form-control form-control-sm" id="solicitaCamaUci" name="solicitaCamaUci" placeholder="solicitaCamaUci"  >

                                </div>
			<div class="col-1">
					<label  for="solicitaOsteosintesis">solicitaOsteosintesis:</label>                               	                               
					 <input type="text"  class="form-control form-control-sm" id="solicitaOsteosintesis" name="solicitaOsteosintesis" placeholder="solicitaOsteosintesis"  >

                                </div>
			<div class="col-1">
					<label  for="solicitaBiopsia">solicitaBiopsia:</label>                               	                               
					 <input type="text"  class="form-control form-control-sm" id="solicitaBiopsia" name="solicitaBiopsia" placeholder="solicitaBiopsia"  >

	                         </div>
				<div class="col-1">
					<label  for="solicitaMalla">solicitaMalla:</label>                               	                               
					 <input type="text"  class="form-control form-control-sm" id="solicitaMalla" name="solicitaMalla" placeholder="solicitaMalla"  >

                                </div>
				<div class="col-1">
					<label  for="solicitaOtros">solicitaOtros:</label>                               	                               
					 <input type="text"  class="form-control form-control-sm" id="solicitaOtros" name="solicitaOtros" placeholder="solicitaOtros"  >

                                </div>
			

					

				<div class="col-12">
				
					 <input type="hidden"  class="form-control form-control-sm" id="username3_id" name="username3_id" >
                                </div>



                                </div> <!-- CIERRA ROW 8 COLUMNAS  -->

                            </form>

                        </div> <!-- CIERRA BODY -->
			<div class="modal-footer">
	
					  <span id="mensajesErrorModalSolicitud" name="mensajesErrorModalSolicitud" style= "color:red; font-size:15px; line-height:35px; font-family: Times Neww Roman;" > </span>
					
					  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar   </button>
                                   
                                       	<button type="button" class="btn btn-primary" id="saveBtnCrearSolicitudonCirugia" onclick="CrearSolicitudCirugia()">Grabar!</button> 
                                    </div>

						
                        </div> <!-- CIERRA MODAL CONTENTE -->
                    </div> <!-- CIERRA MODAL DIALOG -->
                </div>  <!-- CIERRA MODAL FADE -->



	<!-- Modal Procedimiento Cirugia -->

   <div class="modal fade" id="crearModelProcedimientosCirugia" tabindex="-1" role="dialog"  style="overflow-y:scroll;" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
                <div class="modal-dialog  modal-lg modal-dialog-scrollable  modal-dialog-center" role="document" >
                    <div class="modal-content">
                        <div class="modal-header">
                             <h4 class="modal-title" id="modelHeadingProcedimientosCirugia"> </h4> 
			<button type="button" class="btn btn-primary" id="saveBtnCrearProcedimientosonCirugia" onclick="CrearProcedimientosCirugia()">Grabar!</button> 
                         <button type="button" class="close" data-bs-dismiss="modal"  aria-label="Close"> <span aria-hidden="true">&times;</span>  </button>
			</div>
		
                        <div class="modal-body">
                            <div class="alert alert-danger error-msg" style="display:none">
                                <ul class="mb-0"></ul>
                            </div>
			
  			  <form id="postFormProcedimientosCirugia" name="postFormSolicitudCirugia">

                                <input type="hidden" name="post_id" id="post_id">
			     <input type="hidden" class="form-control" id="sedesClinica_id2" name="sedesClinica_id2"  readonly></input>

                      <div class="row row-cols-lg-auto g-3 align-items-center mb-3">

		
				<div class="col-12">
			<!-- Aqui Data Table  -->
				 <div class="row">
				
                                        <table  id= "tablaProcedimientosCirugia" class=" display table table-striped table-sm fs-6 nowrap" style="width: 100%";>
                                           <thead>
                                            <tr>    
						<bold>                
					     <th>Sel</th>                                               
					<th>cups</th>
					<th>nombre</th>
					<th>finalidad</th>  
			              
					</bold>                                  

                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                     
                                        </table>
                                    </div>
				 </div>

			<!-- Fin Data table -->

			  <div class="col-4">
                                        <label for="cups" class="col-sm-1 control-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SeviciosAdmon:</label>
                                        <div class="col-sm-8">
                                            <select class="select-css h-40 w-20" id="cups"  tabindex= "0"
                                                    name="cups"
                                                    required>
                                                {% for cups in Cups %}
                                                <option value="{{cups.id}}"> {{cups.nombre}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div> <!-- CIERRA ROW 8 COLUMNAS  -->

                            </form>

                        </div> <!-- CIERRA BODY -->
			<div class="modal-footer">
	
					  <span id="mensajesErrorModalProcedimientos" name="mensajesErrorModalProcedimientos" style= "color:red; font-size:15px; line-height:35px; font-family: Times Neww Roman;" > </span>
					
					  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar   </button>
                                   
                                       	<button type="button" class="btn btn-primary" id="saveBtnCrearProcedimientosdonCirugia" onclick="CrearProcedimientosCirugia()">Grabar!</button> 
                                    </div>

						
                        </div> <!-- CIERRA MODAL CONTENTE -->
                    </div> <!-- CIERRA MODAL DIALOG -->
                </div>  <!-- CIERRA MODAL FADE -->


	<!-- Modal Procedimiento Cirugia -->


	<!-- Modal Participantes Cirugia -->

   <div class="modal fade" id="crearModelParticipantesCirugia" tabindex="-1" role="dialog"  style="overflow-y:scroll;" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
                <div class="modal-dialog  modal-lg modal-dialog-scrollable  modal-dialog-center" role="document" >
                    <div class="modal-content">
                        <div class="modal-header">
                             <h4 class="modal-title" id="modelHeadingParticipantesCirugia"> </h4> 
			<button type="button" class="btn btn-primary" id="saveBtnCrearParticipantesCirugia" onclick="CrearParticipantesCirugia()">Grabar!</button> 
                         <button type="button" class="close" data-bs-dismiss="modal"  aria-label="Close"> <span aria-hidden="true">&times;</span>  </button>
			</div>
		
                        <div class="modal-body">
                            <div class="alert alert-danger error-msg" style="display:none">
                                <ul class="mb-0"></ul>
                            </div>
			
  			  <form id="postFormParticipantesCirugia" name="postFormParticipantesCirugia">

                                <input type="hidden" name="post_id" id="post_id">
			     <input type="hidden" class="form-control" id="sedesClinica_id4" name="sedesClinica_id4"  readonly></input>

                      <div class="row row-cols-lg-auto g-3 align-items-center mb-3">

		
				<div class="col-12">
			<!-- Aqui Data Table  -->
				 <div class="row">
				
                                        <table  id= "tablaParticipantesCirugia" class=" display table table-striped table-sm fs-6 nowrap" style="width: 100%";>
                                           <thead>
                                            <tr>    
						<bold>                
					     <th>Sel</th>                                               
					<th>cups</th>
					<th>nombre</th>
					<th>finalidad</th>  
			              
					</bold>                                  

                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                     
                                        </table>
                                    </div>
				 </div>

			<!-- Fin Data table -->

			  <div class="col-4">
                                        <label for="medico" class="col-sm-1 control-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SeviciosAdmon:</label>
                                        <div class="col-sm-8">
                                            <select class="select-css h-40 w-20" id="medico"  tabindex= "0"
                                                    name="medico"
                                                    required>
                                                {% for especialidadesMedicos in EspecialidadesMedicos %}
                                                <option value="{{especialidadesMedicos.id}}"> {{especialidadesMedicos.nombre}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div> <!-- CIERRA ROW 8 COLUMNAS  -->

                            </form>

                        </div> <!-- CIERRA BODY -->
			<div class="modal-footer">
	
					  <span id="mensajesErrorModalParticipantes" name="mensajesErrorModalParticipantes" style= "color:red; font-size:15px; line-height:35px; font-family: Times Neww Roman;" > </span>
					
					  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar   </button>
                                   
                                       	<button type="button" class="btn btn-primary" id="saveBtnCrearParticipantesCirugia" onclick="CrearParticipantesCirugia()">Grabar!</button> 
                                    </div>

						
                        </div> <!-- CIERRA MODAL CONTENTE -->
                    </div> <!-- CIERRA MODAL DIALOG -->
                </div>  <!-- CIERRA MODAL FADE -->


	<!-- Modal Participantes Cirugia -->

     <!-- FIN Espacio Modales  -->



		

	</article>


        <article id="ProgramacionCirugia">
      
	
            <form action="/programacionCirugiaps/" method="get" id="FormEnviosRips">

                <input type="hidden" id="username" name="username" value="{{Username}}">
                <input type="hidden" id="sedeSeleccionada" name="sedeSeleccionada" value="{{SedeSeleccionada}}">
                <input type="hidden" id="numreporte" name="numreporte" value="{{numreporte}}">
                <input type="hidden" id="grupo" name="grupo" value="{{Grupo}}">
                <input type="hidden" id="subGrupo" name="subGrupo" value="{{SubGrupo}}">
                <!--  Estos si de la Aplixcacion base -->
                <input type="hidden" id="sede" name="sede" value="{{Sede}}">
                <input type="hidden" id="documento" name="documento" value="{{Documento}}">
                <input type="hidden" id="nombreSede" name="nombreSede" value="{{NombreSede}}">
                <input type="hidden" id="profesional" name="profesional" value="{{Profesional}}">
                <input type="hidden" id="permisosGrales" name="permisosGrales" value="{{PermisosGrales}}">
                <input type="hidden" id="permisosDetalle" name="permisosDetalle" value="{{PermisosDetalle}}">
                <input type="hidden" id="escogeModulo" name="escogeModulo" value="{{EscogeModulo}}">
                <input type="hidden" id="username_id" name="username_id" value="{{Username_id}}">

                <input type="hidden" id="tipoDocId" name="tipoDocId" value="">
                <input type="hidden" id="nombreTipoDoc" name="nombreTipoDoc" value="">
                <input type="hidden" id="documentoId" name="documentoId" value="">
                <input type="hidden" id="documento2" name="documento2" value="">
                <input type="hidden" id="consec" name="consec" value="">
                <input type="hidden" id="tipoIng" name="tipoIng" value="{{tipoIng}}">
		<input type="hidden" id="convenioId" name="convenioId" value="{{convenioId}}">
	
            </form>

            <!-- INICIO TABLE DE  EL DATATABLE  -->
		<div class="container my-2">
             
		<div align="right" height="15px" width="50px">
               <input type="button" style="height:25px;margin-left: 0 ; margin-bottom: 0;border-top-right-radius: 0;"  size="30px" id="BtnProgramacionCirugia"  name="BtnProgramacionCirugia" value="Adicionar" onclick= "ProgramacionCirugia()" >				    
		</div>

   			   <div class="row">
				
                                        <table  id= "tablaProgramacionCirugia" class=" display table table-striped table-sm fs-6 nowrap" style="width: 100%";>
                                           <thead>
                                            <tr>    
						<bold>                
					     <th>Opcion</th>                                               
					     <th>Opcion</th>                                               
					     <th>id</th>
					     <th>tipoDoc_id</th>
					     <th>tipoNota</th>
					     <th>documento</th>
					     <th>paciente</th>
					     <th>estadoProg</th>
					     <th>numero</th>
					     <th>sala</th>
					     <th>inicia</th>
					     <th>horaInicia</th>
					     <th>Termina</th>
					     <th>horaTermina</th>
					     <th>cups1_id</th>
					     <th>examen1</th>
					     <th>cups2_id</th>
					     <th>examen2</th>
					     <th>cups3_id</th>
					     <th>examen3</th>
				              
					</bold>                                  

                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                     
                                        </table>
                                    </div>
                                </div>

    <!-- Modales Cirugia -->


            <div class="modal fade" id="crearModelProgramacionCirugia" tabindex="-1" role="dialog"  style="overflow-y:scroll;" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
                <div class="modal-dialog  modal-lg modal-dialog-scrollable  modal-dialog-center" role="document" >
                    <div class="modal-content">
                        <div class="modal-header">
                             <h4 class="modal-title" id="modelHeadingProgramacionCirugia"> </h4> 
			<button type="button" class="btn btn-primary" id="saveBtnCrearProgramacionCirugia" onclick="CrearProgramacionCirugia()">Grabar!</button> 
		 <button type="button" class="close" data-bs-dismiss="modal"  aria-label="Close"> <span aria-hidden="true">&times;</span>  </button>                    
    </div>
		
                        <div class="modal-body">
                            <div class="alert alert-danger error-msg" style="display:none">
                                <ul class="mb-0"></ul>
                            </div>
			
  			  <form id="postFormProgramacionCirugia" name="postFormProgramacionCirugia">

                                <input type="hidden" name="post_id" id="post_id">

                      <div class="row row-cols-lg-auto g-3 align-items-center mb-3">


				  <div class="col-12">
					
                                    
                                    <input type="text" class="form-control" id="sedesClinica_id" name="sedesClinica_id"  readonly></input>
                                </div>

			  <div class="col-12">
                                        <label for="serviciosAdministrativos" class="col-sm-1 control-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SeviciosAdmon:</label>
                                        <div class="col-sm-8">
                                            <select class="select-css h-40 w-20" id="serviciosAdministrativos"  tabindex= "0"
                                                    name="serviciosAdministrativos"
                                                    required>
                                                {% for serviciosAdministrativos in ServiciosAdministrativos %}
                                                <option value="{{serviciosAdministrativos.id}}"> {{serviciosAdministrativos.nombre}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

				<div class="col-12">
                                    Sala:
				<select class="select-css"  id="sala" name="sala">
                                                            {% for salas in Salas %}
                                                            <option value="{{salas.id}}">
                                                                {{salas.nombre}}
                                                            </option>
                                                            {% endfor %}
                                                        </select>
                                </div>

                          
				<div class="col-12">
				<label  for="fechaProgramacionInicia">Fecha Inicio:</label>                               	                               
					 <input type="datetime"  class="form-control form-control-sm" id="fechaProgramacionInicia" name="fechaProgramacionInicia" placeholder="fecha Inicia"  >
                                </div>


				<div class="col-12">
				<label  for="horaProgramacionInicia">Hora Inicio:</label>                               	                               
					 <input type="text"  class="form-control form-control-sm" id="horaProgramacionInicia" name="horaProgramacionInicia" placeholder="hora Inicia"  >
                                </div>


				<div class="col-12">
				<label  for="fechaProgramacionFin">Fecha Fin:</label>                               	                               
					 <input type="datetime"  class="form-control form-control-sm" id="fechaProgramacionFin" name="fechaProgramacionFin" placeholder="fecha Fin"  >
                                </div>


				<div class="col-12">
				<label  for="horaProgramacionFin">Hora Fin:</label>                               	                               
					 <input type="text"  class="form-control form-control-sm" id="horaProgramacionFin" name="horaProgramacionFin" placeholder="hora Fin"  >
                                </div>

				<div class="col-12">
                                    Ingreso:
				<select class="select-css"  id="ingresosCirugia"  name="ingresosCirugia">
                                                           {% for ingresosCirugia in IngresosCirugia %}
                                                            <option value="{{ingresosCirugia.id}}">
                                                                {{ingresosCirugia.nombre}}
                                                            </option>
                                                            {% endfor %}
                                                          
                                                        </select>
                                </div>


				<div class="col-12">
                                    Cups1:
				<select class="select-css"  id="cups1_id"  name="cups1_id">
                                                           {% for examenes in Examenes %}
                                                            <option value="{{examenes.id}}">
                                                                {{examenes.nombre}}
                                                            </option>
                                                            {% endfor %}
                                                          
                                                        </select>
                                </div>


				<div class="col-12">
                                    Cups2:
				<select class="select-css"  id="cups2_id"  name="cups2_id">
                                                           {% for examenes in Examenes %}
                                                            <option value="{{examenes.id}}">
                                                                {{examenes.nombre}}
                                                            </option>
                                                            {% endfor %}
                                                          
                                                        </select>
                                </div>


				<div class="col-12">
                                    Cups3:
				<select class="select-css"  id="cups3_id"  name="cups3_id">
                                                           {% for examenes in Examenes %}
                                                            <option value="{{examenes.id}}">
                                                                {{examenes.nombre}}
                                                            </option>
                                                            {% endfor %}
                                                          
                                                        </select>
                                </div>

				<div class="col-12">
                                    Estado
				<select class="select-css"  id="estadoProgramacion_id"  name="estadoProgramacion_id">
                                                           {% for estadosProgramacion in EstadosProgramacion %}
                                                            <option value="{{estadosProgramacion.id}}">
                                                                {{estadosProgramacion.nombre}}
                                                            </option>
                                                            {% endfor %}
                                                          
                                                        </select>
                                </div>
				<div class="col-12">
				
					 <input type="hidden"  class="form-control form-control-sm" id="username2_id" name="username2_id" >
                                </div>


                           </div> <!-- CIERRA ROW 8 COLUMNAS  -->

                            </form>

                        </div> <!-- CIERRA BODY -->
			
			<div class="modal-footer">

					  <span id="mensajesErrorModalProgramacion" name="mensajesErrorModalProgramacion" style= "color:red; font-size:15px; line-height:35px; font-family: Times Neww Roman;" > </span>
					
					  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar   </button>
                                  	<button type="button" class="btn btn-primary" id="saveBtnCrearProgramacionCirugia" onclick="CrearProgramacionCirugia()">Grabar!</button> 
                                    </div>

			
                        </div> <!-- CIERRA MODAL CONTENTE -->
                    </div> <!-- CIERRA MODAL DIALOG -->
                </div>  <!-- CIERRA MODAL FADE -->


     <!-- FIN Espacio Modales  -->

		
   </article>


<article id="CirugiaDetalle">

</article>

<article id="InformeQx">
   			
</article>

<article id="RecordAnestesico">
        	
		

</article>

<article id="Hoja de Gasto">
        	
		

</article>
<article id="Facturacion">
        	
		

</article>



<article id="OcupacionSalas">
        	
		<div class="container my-2">
             
   			   <div class="row">
				 <!--  <input type="button" style="height:15px;margin-left: 0 ; margin-bottom: 0;border-top-right-radius: 0;"  size="30px" id="BtnEnviosRips"  name="BtnEnviosRips" value="Adicionar" onclick= "EnvioRips()" >				      -->

                                        <table  id= "tablaSalasCirugia" class=" display table table-striped table-sm fs-6 nowrap" style="width: 100%";>
                                           <thead>
                                            <tr>    
						<bold>                
					     <th>Opcion</th>                                               
					     <th>Opcion</th>                                               
					     <th>Id</th>   
					     <th>Numero</th>
					     <th>Nombre</th>
					     <th>Ubicacion</th>
					     <th>Servicio</th>
					     <th>Estado</th>
				              
					</bold>                                  

                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                     
                                        </table>
                                    </div>
                                </div>

		

</article>


     
    </div>
</div>

{% endblock %}

{% block mensajeria %}
<div class="marco">
     <span id="mensajes" name="mensajes" style= "color:blue; font-size:18px; line-height:35px; font-family: Calibri;" > </span>
     <span id="mensajesError" name="mensajesError" style= "color:red; font-size:18px; line-height:35px; font-family: Calibri;" > </span>


</div>
{% endblock %}



{% block footer %}

<div class="marco">
    <ul class="tabs">

        <li><a href="#OcupacionSalas"><span class="fa-solid fa-user-doctor-message"></span> <span class="tab-text"> </span> Ocupacion salas </a></li>

    </ul>
</div>

{% endblock %}




