{% extends "rips/menuRips.html" %}
{% load static %}

{% block head %}


<link rel="stylesheet" type="text/css" href={% static 'css/panelRips.css' %}>
<link rel="stylesheet" type="text/css" href={% static 'css/fontawesome.css' %}>
<link rel="stylesheet" type="text/css"  href = {% static 'css/litle.css' %} >
<script src={% static 'js/panelTabsRips.js' %} defer >         </script>
<script src="https://kit.fontawesome.com/5d0337a043.js" crossorigin="anonymous"></script>
<script src={% static 'mainRips.js' %} defer > </script>

<!-- Datatable extension SELECT 
<link href="https://cdn.datatables.net/v/dt/dt-2.2.2/datatables.min.css" rel="stylesheet" integrity="sha384-2vMryTPZxTZDZ3GnMBDVQV8OtmoutdrfJxnDTg0bVam9mZhi7Zr3J1+lkVFRr71f" crossorigin="anonymous">
<script src="https://cdn.datatables.net/v/dt/dt-2.2.2/datatables.min.js" integrity="sha384-2Ul6oqy3mEjM7dBJzKOck1Qb/mzlO+k/0BQv3D3C7u+Ri9+7OBINGa24AeOv5rgu" crossorigin="anonymous"></script>
-->


<div class="marco">
    <ul class="tabs">

        <li><a href="#Rips"><span class="fa-solid fa-user-doctor-message"></span> <span class="tab-text"> </span> Envios Rips </a></li>
        <li><a href="#DetalleEnviosRips"><span class="fa-solid fa-user-doctor-message"></span> <span   class="tab-text"> </span> Detalle Envios Rips</a></li>
        <li><a href="#GenerarJsonRips"><span class="fa-solid fa-user-doctor-message"></span> <span  class="tab-text"> </span> Generar Json Rips </a></li>
        <li><a href="#EnviarRips"><span class="fa-solid fa-user-doctor-message"></span> <span  class="tab-text"> </span> Enviar Rips </a></li>
        <li><a href="#RespuestaRips"><span class="fa-solid fa-user-doctor-message"></span> <span  class="tab-text"> </span> Respuesta Rips </a></li>


    </ul>
</div>

<style>
div.dataTables_wrapper  div.dataTables_filter input {
   height: 2px;
   padding:10px;
   border-radius:8px;
}

div.dataTables_filter input {
    width: 50px;
  }
</style>


{% endblock %}

{% block encabezado %}



{% endblock %}


{% block content %}

<div class="marco">
    <div class="secciones">

        <article id="Rips">
        <center><h3>Envios Rips</h3></center>
	  <div style="height: 70px;  width:100%; background-color:#EBEBEB;">
            <form action="/enviosRips/" method="get" id="FormEnviosRips">

                <input type="hidden" id="username" name="username" value="{{Username}}">
                <input type="hidden" id="sedeSeleccionada" name="sedeSeleccionada" value="{{SedeSeleccionada}}">
                <input type="hidden" id="numreporte" name="numreporte" value="{{numreporte}}">
                <input type="hidden" id="grupo" name="grupo" value="{{Grupo}}">
                <input type="hidden" id="subGrupo" name="subGrupo" value="{{SubGrupo}}">
                <!--  Estos si de la Aplixcacion base -->
                <input type="hidden" id="sede" name="sede" value="{{Sede}}">
                <input type="hidden" id="documento" name="documento" value="{{Documento}}">
                <input type="hidden" id="nombreSede" name="nombreSede" value="{{NombreSede}}">
                <input type="hidden" id="profesional" name="profesional" value="{{Profesional}}">
                <input type="hidden" id="permisosGrales" name="permisosGrales" value="{{PermisosGrales}}">
                <input type="hidden" id="permisosDetalle" name="permisosDetalle" value="{{PermisosDetalle}}">
                <input type="hidden" id="escogeModulo" name="escogeModulo" value="{{EscogeModulo}}">
                <input type="hidden" id="username_id" name="username_id" value="{{Username_id}}">

                <input type="hidden" id="tipoDocId" name="tipoDocId" value="">
                <input type="hidden" id="nombreTipoDoc" name="nombreTipoDoc" value="">
                <input type="hidden" id="documentoId" name="documentoId" value="">
                <input type="hidden" id="documento2" name="documento2" value="">
                <input type="hidden" id="consec" name="consec" value="">
                <input type="hidden" id="tipoIng" name="tipoIng" value="{{tipoIng}}">
		<input type="hidden" id="convenioId" name="convenioId" value="{{convenioId}}">
	
            </form>

            <!-- INICIO TABLE DE  EL DATATABLE  -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" style="height:45px; margin-left: 0 ; margin-bottom: 0;border-top-right-radius: 0;">
                            <div class="row">
				<div class="col-md-10">	
				</div>
				 <div class="col-md-2">	
				
	                        <input type="button" style="height:15px;margin-left: 0 ; margin-bottom: 0;border-top-right-radius: 0;"  size="30px" id="BtnEnviosRips"  name="BtnEnviosRips" value="Adicionar" onclick= "EnvioRips()" >				    
                               </div>
                            </div>
                        </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert alert-success success-msg" style="display:none"></div>
                                        <table  id= "tablaEnviosRips" class="display nowrap table table table-bordered tablaEnviosRips table-hover table-sm dtr-inline" style="width:100%; margin-left: 0;">
                                           <thead>
                                            <tr id= "filasEnvios">    
						<bold>                                  
                                                <th>id</th>
                                                <th>Sede</th>  
                                       
                                                 <th>Emp</th> 
                                                <th>Empresa</th>
                                    
                                                <th>FechaEnvio</th>
                                                <th>FechaRespuesta</th>
                                                <th>Facturas</th>
                                                <th>Pasaron</th>
                                                <th>Rechazadas</th>
                                                <th>AlMinisterio</th>
						<th>FechaRegistro</th>
						<th>UsuarioRegistro</th>
						<th>Registra</th>

				        <th>NombreClinica</th> 
				            <th>TipoNota</th>
                                                 <th>Seleccionar</th> 


						</bold>                                  

                                            </tr>
                                            </thead>
                                            <tbody style="vertical-align:bottom; horizontal-align:left">
                                            <tr style="height:10%">
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> <!-- cierra body -->
                    </div> <!-- cierra card -->
                </div> <!-- cierra col -->
            </div> <!-- cierra row -->

	   </div> <!-- cierra div -->



	            <!-- Espacio Modales  EnviosRips-->

            <div class="modal fade" id="crearModelEnviosRips" tabindex="-1" role="dialog"  style="overflow-y:scroll;" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="modelHeadingEnviosRips"></h4>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger error-msg" style="display:none">
                                <ul class="mb-0"></ul>
                            </div>
                            <form id="postFormEnviosRips" name="postFormEnviosRips" class="form-horizontal"
                                  novalidate>
                                {% csrf_token %}
                                <input type="hidden" name="post_id" id="post_id">
                     
				<div class="row row-cols-12" style="height=1px;">

				<div class="col">
                                    Sede Clinica:
                                    <input type="text" id="sedesClinica_id" name="sedesClinica_id" value="1" readonly></input>
                                </div>

				<div class="col">
                                    Empresa:
				<select class="select-css"  id="empresa_id"
                                                                name="empresa_id">
                                                            {% for empresas in Empresas %}
                                                            <option value="{{empresas.id}}">
                                                                {{empresas.nombre}}
                                                            </option>
                                                            {% endfor %}
                                                        </select>
                                </div>


				<div class="col">
                                    RipsTiposNotas:
				<select class="select-css"  id="ripsTiposNotas"  name="ripsTiposNotas">
                                                           {% for ripsTiposNotas in RipsTiposNotas %}
                                                            <option value="{{ripsTiposNotas.id}}">
                                                                {{ripsTiposNotas.nombre}}
                                                            </option>
                                                            {% endfor %}
                                                          
                                                        </select>
                                </div>
                          
				<div class="col">
                                   Fecha Envio:
                               
					 <input type="datetime-local" id="fechaEnvio" name="fechaEnvio" readonly >
                                </div>

				<div class="col">
                                    Fecha Respuesta:
					 <input type="datetime-local" id="fechaRespuesta" name="fechaRespuesta" readonly>
                                </div>

				<div class="col">
                                    CantidadFacturas:
                                    <input type="text" id="cantidadFacturas" name="cantidadFacturas" value="0" readonly></input>
                                </div>
				<div class="col">
                                    CantidadPasaron:
                                    <input type="text" id="cantidadPasaron" name="cantidadPasaron" value="0" readonly></input>
                                </div>
				<div class="col">
                                    CantidadRechazadas:
                                    <input type="text" id="cantidadRechazadas" name="cantidadRechazadas" value="0" readonly></input>
	                                </div>


                                <div class="col">
                                    EstadoPasoMinisterio:
                                    <input type="text" id="estadoPasoMinisterio" name="estadoPasoMinisterio" value="PENDIENTE" readonly></input>
                                </div>
           
                                <div class="col">
                                   
                                    <input type="hidden" id="fechaRegistro" name="fechaRegistro" value="" > </input>
                                </div>



                                <div class="col">
                                    EstadoRegistro:
                                    <input type="text" id="estadoReg" name="estadoReg" value="A"  readonly> </input>
                                </div>



                                <div class="col">
                                    UsuarioRegistro_id:
                                    <input type="text" id="usuarioRegistro_id" name="usuarioRegistro_id" value="{{Username_id}}" readonly > </input>
                                </div>


                                <div class="col-sm-offset-2 col-sm-10 mt-2">
                                    <button type="button" class="btn btn-primary" id="saveBtnCrearEnviosRips"   value="create" onclick="CrearEnviosRips()">Guardar </button>
                                </div>
                                </div> <!-- CIERRA ROW 8 COLUMNAS  -->

                            </form>
                        </div> <!-- CIERRA BODY -->
                        </div> <!-- CIERRA MODAL CONTENTE -->
                    </div> <!-- CIERRA MODAL DIALOG -->
                </div>  <!-- CIERRA MODAL FADE -->

     <!-- FIN Espacio Modales  -->



        </article>


<article id="DetalleEnviosRips">
        	    <center><h3>Detalle Envio Rips</h3></center>
	  <div style="height: 70px;  width:100%; background-color:#EBEBEB;">

			     
			     Envio No: <input type="text" name="envioRipsId" id="envioRipsId">  
			     Empresa:  <input type="text" name="empresaId" id="empresaId">  
			     Tipo:     <input type="text" name="tipoRips2" id="tipoRips2">  

			 <div class="row" style="width:100%; margin-left: 0;">
			     <div class="col-md-12" >	
				<!-- Aqui el table de busqueda de facturas por empresa -->

                                       <div class="alert alert-success success-msg" style="display:none"></div>
                                        <table  id= "tablaDetalleRipsAdicionar" class="display nowrap table table table-bordered tablaDetalleRipsAdicionar table-hover table-sm dtr-inline" style="width:100%; margin-left: 0;">
                                           <thead>
                                            <tr>    
						<bold>                                  
                                                <th>id</th>
                                                <th>Factura No</th>
                                                <th>Fecha Factura </th>
                                                <th>Paciente</th>
                                                <th>ValorFactura</th>
                                                <th>Estado</th>
                                                <th>Action</th>
						</bold>                                  
                                            </tr>
                                            </thead>
                                            <tbody style="vertical-align:bottom; horizontal-align:left">
                                            <tr style="height:10%">
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>	
			   </div>	
				<!-- hasta aquip -->



            <!-- INICIO TABLE DE  EL DATATABLE  -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" style="height:25px; margin-left: 0 ; margin-bottom: 0;border-top-right-radius: 0;">
                	      <div class="row">

                            </div>
                        </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert alert-success success-msg" style="display:none"></div>
                                        <table  id= "tablaDetalleRips" class="display nowrap table table table-bordered tablaDetalleRips table-hover table-sm dtr-inline" style="width:100%; margin-left: 0;">
                                           <thead>
                                            <tr>    
						<bold>                                  
                                                <th>id</th>
                                                <th>Factura No</th>
                                                <th>Cuv</th>
                                                <th>EstadoPasoAlMinisterio</th>
                                                <th>RutaJsonRespuesta</th>
                                                <th>RutaJsonFactura</th>
                                                <th>RutaPdf</th>
                                                <th>RutaZip</th>
						<th>UsuarioRegistro</th>
                                                <th>Action</th>
						</bold>                                  
                                            </tr>
                                            </thead>
                                            <tbody style="vertical-align:bottom; horizontal-align:left">
                                            <tr style="height:10%">
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> <!-- cierra body -->
                    </div> <!-- cierra card -->
                </div> <!-- cierra col -->
            </div> <!-- cierra row -->

	   </div> <!-- cierra div -->



	            <!-- Espacio Modales  RipsDetalle-->

            <div class="modal fade" id="crearModelRipsDetalle" tabindex="-1" role="dialog"  style="overflow-y:scroll;" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="modelHeadingRipsDetalle"></h4>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger error-msg" style="display:none">
                                <ul class="mb-0"></ul>
                            </div>
                            <form id="postFormRipsDetalle" name="postFormRipsDetalle" class="form-horizontal"
                                  novalidate>
                               
                               
                     
				<div class="row row-cols-13" style="height=1px;">
		<div class="col">

			 Id : <input type="text" name="detalleRipsId" id="detalleRipsId" readonly>

                                </div>

				<div class="col">
                                    Factura:
                                    <input type="text" id="numeroFacturaT" name="numeroFacturaT"  readonly></input>
                                </div>

				<div class="col">
                                    Envio:
                                    <input type="text" id="ripsEnvios" name="ripsEnvios"  readonly></input>
                                </div>

				<div class="col">
                                    Cuv:
                                    <input type="text" id="cuv" name="cuv" value=""  ></input>
                                </div>
                                <div class="col">
                                    EstadoPasoMinisterio:
                                    <input type="text" id="estadoPasoMinisterio" name="estadoPasoMinisterio" ></input>
                                </div>
                          
				<div class="col">
                                   RutaJsonFactura:
                               
					 <input type="textl" id="rutaJsonFactura" name="rutaJsonFactura"  >
                                </div>

				<div class="col">
                                    RutaJsonRespuesta:
					 <input type="text" id="rutaJsonRespuesta" name="rutaJsonRespuesta">
                                </div>

           
                                <div class="col">
                                   
                                    <input type="hidden" id="fechaRegistro" name="fechaRegistro" value="" > </input>
                                </div>



                                <div class="col">
                                    EstadoRegistro:
                                    <input type="text" id="estadoReg" name="estadoReg"  readonly> </input>
                                </div>


                                <div class="col">
                                    UsuarioRegistro_id:
                                    <input type="text" id="usuarioRegistro_id" name="usuarioRegistro_id" value="{{Username_id}}" readonly > </input>
                                </div>

				<div class="col">
                                    RutaPdf:
					 <input type="text" id="rutaPdf" name="rutaPdf">
                                </div>

				<div class="col">
                                    RutaZip:
					 <input type="text" id="rutaZip" name="rutaZip">
                                </div>



                                <div class="col-sm-offset-2 col-sm-10 mt-2">
                                    <button type="button" class="btn btn-primary" id="saveBtnCrearDetalleRips"   value="create" onclick="GuardarDetalleRips()">Guardar </button>
                                </div>
                                </div> <!-- CIERRA ROW 8 COLUMNAS  -->

                            </form>
                        </div> <!-- CIERRA BODY -->
                        </div> <!-- CIERRA MODAL CONTENTE -->
                    </div> <!-- CIERRA MODAL DIALOG -->
                </div>  <!-- CIERRA MODAL FADE -->



	<!-- Otra Modal -->


            <div class="modal fade" id="crearModelRipsJson" tabindex="-1" role="dialog"  style="overflow-y:scroll;" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="modelHeadingRipsJson"></h4>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger error-msg" style="display:none">
                                <ul class="mb-0"></ul>
                            </div>
                            <form id="postFormRipsJson" name="postFormRipsJsone" class="form-horizontal"
                                  novalidate>
							 Id :     <input type="text" name="envioRipsIdJ" id="envioRipsIdJ" readonly>
        				                 Factura: <input type="text" id="facturaIdJ" name="facturaIdJ"  readonly></input>           


				<div class="row row-cols-1" style="height=30px;">

				<div class="col">
                                    JSON:
					<textarea id="valorJson" name="valorJson"   cols="80" rows="10"></textarea>
                                 
                                </div>

                                <div class="col-sm-offset-2 col-sm-10 mt-2">
                                    <button type="button" class="btn btn-primary" id="cerrarJson" name="cerrarJson"  value="Cerrar" onclick="CerrarModalJson()">Cerrar </button>
                                </div>
                                </div> <!-- CIERRA ROW 8 COLUMNAS  -->

                            </form>
                        </div> <!-- CIERRA BODY -->
                        </div> <!-- CIERRA MODAL CONTENTE -->
                    </div> <!-- CIERRA MODAL DIALOG -->
                </div>  <!-- CIERRA MODAL FADE -->


	<!-- Fin otra Modal -->
     <!-- FIN Espacio Modales  -->


</article>

<article id="GenerarJsonRips">
        	    <center><h3>Generar Json Rips</h3></center>
		  <div style="height: 70px;  width:100%; background-color:#EBEBEB;">
		   	     Envio No: <input type="text" name="envioRipsId1" id="envioRipsId1">  
			     Empresa: <input type="text" name="empresaId1" id="empresaId1" >  
			     Tipo: <input type="text" name="tipoRips1" id="tipoRips1">  
		
		<div class="row">
		</div>
		
		<div class="row">
		<div class="col">
                                    <button type="button" class="btn btn-primary" id="generarJsonRips"   value="Generar" onclick="GenerarJsonRips()">Generar JSON rips </button>
                 </div>	
		 </div>

		 </div>

</article>



<article id="RipsTransaccion">
        	    <center><h3>Rips Transaccion</h3></center>
		  <div style="height: 70px;  width:100%; background-color:#EBEBEB;">

            <!-- INICIO TABLE DE  EL DATATABLE  -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" style="height:45px; margin-left: 0 ; margin-bottom: 0;border-top-right-radius: 0;">
                            <div class="row">
				
                            </div>
                        </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert alert-success success-msg" style="display:none"></div>
                                        <table  id= "tablaRipsTransaccion" class="display nowrap table table table-bordered tablaRipsTransaccion table-hover table-sm dtr-inline" style="width:100%; margin-left: 0;">
                                           <thead>
                                            <tr>    
						<bold>                                  
                                                <th>id</th>
                                                <th>NumeroDocObligatorio</th>
                                                <th>NumNota</th>
                                                <th>FechaRegistro</th>
                                                <th>TipoNota</th>
                                                <th>UsuarioRegistro</th>
                                                <th>Envio Rips # </th>
						<th>Sedes # </th>
						<th>Accion </th>
						</bold>                                  

                                            </tr>
                                            </thead>
                                            <tbody style="vertical-align:bottom; horizontal-align:left">
                                            <tr style="height:10%">
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> <!-- cierra body -->
                    </div> <!-- cierra card -->
                </div> <!-- cierra col -->
            </div> <!-- cierra row -->

	   </div> <!-- cierra div -->



</article>

<article id="RipsUsuarios">
        	    <center><h3>Rips Usuarios</h3></center>
		  <div style="height: 70px;  width:100%; background-color:#EBEBEB;">

            <!-- INICIO TABLE DE  EL DATATABLE  -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" style="height:45px; margin-left: 0 ; margin-bottom: 0;border-top-right-radius: 0;">
                            <div class="row">
				
                            </div>
                        </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert alert-success success-msg" style="display:none"></div>
                                        <table  id= "tablaRipsUsuarios" class="display nowrap table table table-bordered tablaRipsUsuarios table-hover table-sm dtr-inline" style="width:100%; margin-left: 0;">
                                           <thead>
                                            <tr>    
						<bold>                                  
                                                <th>id</th>
                                                <th>tipoDocumento </th>
                                                <th>tipoUsuario </th>
                                                <th>FechaNacimiento </th>
                                                <th>CodSexo </th>
                                                <th>CodZonaTerritorial </th>
                                                <th>Incapacidad </th>
						<th>Consecutivo </th>
                                                <th>FechaRegistro </th>
                                                <th>CodMunicipio</th>
                                                <th>CodPaisOrigen </th>
                                                <th>CodPaisResidencia </th>
                                                <th>UsuarioRegistro </th>
                                                <th>NumDocumentoIdentifica </th>
                                                <th>RipsDetalleId </th>
                                                <th>RipsTransaccionId </th>
						<th>Accion </th>
						</bold>                                  

                                            </tr>
                                            </thead>
                                            <tbody style="vertical-align:bottom; horizontal-align:left">
                                            <tr style="height:10%">
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> <!-- cierra body -->
                    </div> <!-- cierra card -->
                </div> <!-- cierra col -->
            </div> <!-- cierra row -->

	   </div> <!-- cierra div -->


</article>

<article id="RipsConsulta">
        	    <center><h3>Rips Consulta</h3></center>
		  <div style="height: 70px;  width:100%; background-color:#EBEBEB;">
		
		
		 </div>
</article>

<article id="RipsHospitalizacion">
        	    <center><h3>Rips Hospitalizacion</h3></center>
		  <div style="height: 70px;  width:100%; background-color:#EBEBEB;">
	  <div style="height: 70px;  width:100%; background-color:#EBEBEB;">

            <!-- INICIO TABLE DE  EL DATATABLE  -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" style="height:45px; margin-left: 0 ; margin-bottom: 0;border-top-right-radius: 0;">
                            <div class="row">
				
                            </div>
                        </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert alert-success success-msg" style="display:none"></div>
                                        <table  id= "tablaRipsHospitalizacion" class="display nowrap table table table-bordered tablaRipsHospitalizacion table-hover table-sm dtr-inline" style="width:100%; margin-left: 0;">
                                           <thead>
                                            <tr>    
						<bold>                                  
                                                <th>id</th>
                                                <th>Prestador </th>
                                                <th>fechaAtn </th>
                                                <th>Aut </th>
                                                <th>Egreso </th>
                                                <th>consec </th>
						<th>Fec.Reg </th>
                                                <th>CausaMotivo </th>
                                                <th>Complica</th>
                                                <th>DxMuerte </th>
                                                <th>DxPrincipalI </th>
                                                <th>DxPrincipalE </th>
                                                <th>DxRel1</th>
                                                <th>DxRel2</th>
                                                <th>DxRel3 </th>
                                                <th>DestEgreso </th>
                                                <th>UsuReg </th>
                                                <th>ViaIngreso </th>
                                                <th>RipsDetalle_id </th>
                                                <th>ripsTiposNotas_id </th>
						<th>Accion </th>
						</bold>                                  

                                            </tr>
                                            </thead>
                                            <tbody style="vertical-align:bottom; horizontal-align:left">
                                            <tr style="height:10%">
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> <!-- cierra body -->
                    </div> <!-- cierra card -->
                </div> <!-- cierra col -->
            </div> <!-- cierra row -->

	   </div> <!-- cierra div -->

		
		
		 </div>
</article>

<article id="RipsUrgenciasObs">
        	    <center><h3>Rips Urgencias Observaciones</h3></center>
		  <div style="height: 70px;  width:100%; background-color:#EBEBEB;">
		
		
		 </div>
</article>

<article id="RipsProcedimientos">
        	    <center><h3>Rips Procedimientos</h3></center>
		  <div style="height: 70px;  width:100%; background-color:#EBEBEB;">

            <!-- INICIO TABLE DE  EL DATATABLE  -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" style="height:45px; margin-left: 0 ; margin-bottom: 0;border-top-right-radius: 0;">
                            <div class="row">
				
                            </div>
                        </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert alert-success success-msg" style="display:none"></div>
                                        <table  id= "tablaRipsProcedimientos" class="display nowrap table table table-bordered tablaRipsProcedimientos table-hover table-sm dtr-inline" style="width:100%; margin-left: 0;">
                                           <thead>
                                            <tr>    
						<bold>                                  
                                                <th>id</th>
                                                <th>Prestador </th>
                                                <th>fechaAtn </th>
                                                <th>MIPRES</th>
                                                <th>Aut </th>
                                                <th>Identif </th>
                                                <th>vr </th>
						<th>Moderadora </th>
                                                <th>FEVPago </th>
                                                <th>consec</th>
                                                <th>Complicacion </th>
                                                <th>Principal </th>
                                                <th>Relacionado </th>
                                                <th>Proced</th>
                                                <th>Servicio </th>
                                                <th>concepto </th>
                                                <th>FinalTecSalud </th>
                                                <th>grupoServ </th>
                                                <th>modGrupoServ </th>
                                                <th>tipoIdent </th>
                                                <th>usuario </th>
                                                <th>viaIngreso </th>
                                                <th>ripsDetalle </th>
                                                <th>tipoModerado </th>
						<th>Accion </th>
						</bold>                                  

                                            </tr>
                                            </thead>
                                            <tbody style="vertical-align:bottom; horizontal-align:left">
                                            <tr style="height:10%">
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> <!-- cierra body -->
                    </div> <!-- cierra card -->
                </div> <!-- cierra col -->
            </div> <!-- cierra row -->

	   </div> <!-- cierra div -->


</article>

<article id="RipsMedicamentos">
        	    <center><h3>Rips Medicamentos</h3></center>
		  <div style="height: 70px;  width:100%; background-color:#EBEBEB;">
		
		
		 </div>
</article>
<article id="RipsRecienNacidos">
        	    <center><h3>Rips Recien Nacidos</h3></center>
		  <div style="height: 70px;  width:100%; background-color:#EBEBEB;">
		
		
		 </div>
</article>

<article id="RipsOtrosServicios">
        	    <center><h3>Rips Recien Otros Servicios</h3></center>
		  <div style="height: 70px;  width:100%; background-color:#EBEBEB;">
		
		
		 </div>
</article>

<article id="EnviarRips">
        	    <center><h3>Enviar Rips</h3></center>
		  <div style="height: 70px;  width:100%; background-color:#EBEBEB;">
			  <div style="height: 70px;  width:100%; background-color:#EBEBEB;">
		   	     Envio No: <input type="text" name="envioRipsId3" id="envioRipsId3">  
			     Empresa: <input type="text" name="empresaId3" id="empresaId3" >  
			     Tipo: <input type="text" name="tipoRips3" id="tipoRips3">  
		
		<div class="row">
		</div>
		
		<div class="row">
		<div class="col">
                                    <button type="button" class="btn btn-primary" id="enviarJsonRips"   value="Generar" onclick="EnviarJsonRips()">Enviar JSON rips </button>
                 </div>	
		 </div>

		 </div>
		
		 </div>
</article>

<article id="RespuestaRips">
        	    <center><h3>Respuesta Tips</h3></center>
		  <div style="height: 70px;  width:100%; background-color:#EBEBEB;">
		
		
		 </div>
</article>

     
    </div>
</div>

{% endblock %}

{% block mensajeria %}
<div class="marco">
<span> ... </span>
     <span id="mensajes" name="mensajes">. </span>

</div>
{% endblock %}


{% block footer %}

<div class="marco">
    <ul class="tabs">

        <li><a href="#RipsTransaccion"><span class="fa-solid fa-user-doctor-message"></span> <span class="tab-text"> </span> Rips Transaccion </a></li>
        <li><a href="#RipsUsuarios"><span class="fa-solid fa-user-doctor-message"></span> <span class="tab-text"> </span> Rips Usuarios </a></li>
        <li><a href="#RipsConsulta"><span class="fa-solid fa-user-doctor-message"></span> <span   class="tab-text"> </span> Rips Consulta</a></li>
        <li><a href="#RipsHospitalizacion"><span class="fa-solid fa-user-doctor-message"></span> <span  class="tab-text"> </span> Rips Hospitalizacion </a></li>
        <li><a href="#RipsUrgenciasObs"><span class="fa-solid fa-user-doctor-message"></span> <span  class="tab-text"> </span> Rips Urgencias y Observacion </a></li> 
        <li><a href="#RipsProcedimientos"><span class="fa-solid fa-user-doctor-message"></span> <span  class="tab-text"> </span> Rips Procedimientos </a></li> 
        <li><a href="#RipsMedicamentos"><span class="fa-solid fa-user-doctor-message"></span> <span  class="tab-text"> </span> Rips Medicamentos </a></li> 
        <li><a href="#RipsRecienNacidos"><span class="fa-solid fa-user-doctor-message"></span> <span  class="tab-text"> </span> Rips Recien nacidos </a></li> 
        <li><a href="#RipsOtrosServicios"><span class="fa-solid fa-user-doctor-message"></span> <span  class="tab-text"> </span> Rips Otros Servicios </a></li> 
    </ul>
</div>

{% endblock %}




